body {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: whitesmoke;
  background-color: black;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
  color: lightskyblue;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

.main-nav ul li  {
  flex: 1;
  text-align: center;
  
  
  
}

.main-nav ul li a {
  display:block;
  color: black;
  text-decoration: none;
  font-size: 1.25rem;
  
}

li a{
  padding: 20px 20px;
}

li  a:hover{ 
  background-color: whitesmoke;
  
  
}

form input,
form textarea {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: .5rem 1rem;

}

label {
  margin-left: 16rem;
}

b{
  margin-left: 16rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: lightskyblue;
  border: 2px solid lightskyblue;
  padding: 1rem;
  margin-left: 16rem;
  text-transform: uppercase;
  font-weight: bold;
}
.contact-section h1{
  text-align: center;
}

.site-footer {
  padding: 2rem 0;
}

.skip a{ 
  color: whitesmoke;
  text-decoration: none;
  position: absolute;
  top: -3em;
  background-color: whitesmoke;
  color:black;
  padding: .6em 1em;
  font-weight: bold;
}

.skip a:focus{
  top: 0;
}

ul {
  list-style-type: none;
}

.site-footer a {
  display:flex;
  justify-content: center;
  color: lightskyblue;
  font-weight: bold;
  
}





.container-meet{
  background-color: whitesmoke;
  padding: 1.5em 2em;
}

.container-location {
  background-color: whitesmoke;
  padding: 1.5em 2em;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  color: black;
}

.grid-container h1{
  color:gray;
  font-weight: bold;

}












